* {
	font-family: Georgia;
	font-weight: 100;
}



/*
display:  flex;
flex -(wrap,direction,flow): flex,column(reverse)
justify-content:  space - (muchas cosas,evenly);


Otros flex:;
flex-grow:  (numeros), flex-shrink:  (numeros);
 */
