<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style-DOM.css">
</head>
<body>
    <h1>DOM</h1>
    <p><span>palabras</span></p>
    <ul>
        <li>Eventos</li>
        <li>forms</li>
        <li>cosas</li>
        <li>cositas</li>
        <li>otras cosas</li>
        <li>muchas</li>
        <li>y puntos</li>
    </ul>

    <input type="text" class="texto" name="nombre" placeholder="Nombre">
    <a href="DOM.html" class="link-dom" id="linkd" data-description="Document Object Model">DOM</a>
    <section class="cardss">
        <figure class="cards">
            <img src="https://placeimg.com/200/200/tech" alt="tech" srcset="">
            <figcaption>Tech</figcaption>
        </figure>
        <figure class="cards">
            <img src="https://placeimg.com/200/200/animals" alt="Animals" srcset="">
            <figcaption>Tech</figcaption>
        </figure>
        <figure class="cards">
            <img src="https://placeimg.com/200/200/people" alt="people" srcset="">
            <figcaption>Tech</figcaption>
        </figure>
        <figure class="cards">
            <img src="https://placeimg.com/200/200/arch" alt="arch" srcset="">
            <figcaption>Tech</figcaption>
        </figure>
        <figure class="cards">
            <img src="https://placeimg.com/200/200/nature" alt="Nature" srcset="">
            <figcaption>Tech</figcaption>
        </figure>
    </section>


    <script src="../js/js-complete/js-60.js"></script>
</body>
</html>