<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All javascript</title>
</head>
<body>
    <ol>
        <li><a style="text-decoration: none;" href="test-js.html">Clases javascript</a></li>
        <li><a style="text-decoration: none;" href="practice-js.html">Testeo Javascript</a></li>
    </ol>
    <br>
    <h4>js 16: manejor de errores</h4>
    <ul>
        <li><b>destructuracion</b></li>
        <li><b>19 Objetos Literales</b></li>
        <li><b>20 parametros REST & Operador Spread</b></li>
        <li><b>21 Arrow functions</b></li>
        <li><b>22 Prototipos</b></li>
        <li><b>23 Herencia Prototipica</b></li>
    </ul>
    <br>
    <h4>js 24: Clases y Herencia</h4>
    <ul>
        <li><b>25 Metodos estaticos, getters y setters</b></li>
        <li><b>26 Objeto consola</b></li>
        <li><b>27 Objeto Date</b></li>
        <li><b>28 Objeto Math</b></li>
        <li><b>29 Operador de cortocircuito</b></li>
        <li><b>30 alert,confirm, prompt</b></li>
        <li><b>31 expresiones regulares</b></li>
        <li><b>32 Funciones anonimas autoejecutadas</b></li>
        <li><b>33 Modulos</b></li>
        
    </ul>
</body>
</html>