<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        :root{
            --color1: #f14ef9;
            --dark-color: #374fc7;
        }
    </style>
</head>
<body>
    <div class="cards">
        <img class="img" src="../img/images.jpg" alt="car">
    </div>
    <a style="background: #555; color: #fff;" href="momentaneo.html" class="link-dom" data-description="Documen Object Model">DOM</a>
    <script src="../js/js-complete/moment.js"></script>
</body>
</html>