<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        :root{
            --color1: #f14ef9;
            --dark-color: #374fc7;
        }

        .eventos-flujo div{
            padding: 4rem;
            font-size: 2rem;
            text-align:center;
        }

        .uno{
            background-color: yellow;
        }

        .dos{
            background-color: gold;
        }

        .tres{
            background-color: lightyellow;
        }
    </style>
</head>
<body>
    <!-- <div class="cards">
        <img class="img" src="../img/images.jpg" alt="car">
    </div> -->
    <p id="que-es"></p>
    <a style="background: #555; color: #fff;" href="momentaneo.html" class="link-dom" data-description="Documen Object Model">DOM</a>
    <section class="cards">
        <figure class="card">
            <img src="https://placeimg.com/200/200/tech" alt="Tech">
            <figcaption>Tech</figcaption>
        </figure>
        <figure class="card">
            <img src="https://placeimg.com/200/200/animals" alt="animals">
            <figcaption>animals</figcaption>
        </figure>
        <figure class="card">
            <img src="https://placeimg.com/200/200/arch" alt="arch">
            <figcaption>arch</figcaption>
        </figure>
        <figure class="card">
            <img src="https://placeimg.com/200/200/people" alt="people">
            <figcaption>people</figcaption>
        </figure>
        <figure class="card">
            <img src="https://placeimg.com/200/200/nature" alt="nature">
            <figcaption>nature</figcaption>
        </figure>
    </section>

    <template id="template_card">
        <figure class="card">
            <img>
            <figcaption></figcaption>
        </figure>
    </template>

    <h3>Eventos en Javascript</h3>
    <h4>Manejadores de Eventos</h4>
    <button onclick=holaMundo()>Evento con atributo HTML</button>
    <br><br>
    <button id="eventoSemantico">Evento con manejador semántico</button>
    <br> <br>
    <button id="evento-multiple">evento Artificial</button>
    <br><br>
    <button id="removedor-event">Removedor de Eventos</button>
    <br><br><br><br><br><br>
    <h4>Flujo de Eventos</h4>
    <section class="eventos-flujo">
        <div class="uno">
            1
            <div class="dos">
                2
                <div class="tres">
                    3
                    <a href="https://jonmircha.com" target="_blank" rel="noopener">ejecucion.com</a>
                </div>
            </div>
        </div>
    </section>

    <script src="../js/js-complete/moment.js"></script>
</body>
</html>