.header {
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    padding: auto;
    background: #fff;
    text-align: center;
    font-size: 1.5rem;

    div {
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: relative;
        display: inline-block;
        width: 100rem;
        text-align: left;
        background: $white;

        .navbar-opciones {
            font-size: 1rem;
            // font-weight: 600;
            font-family: "Poppins", sans-serif;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $pink3;

            .navbar-opciones-ul1 {
                display: flex;
                color: #777;
                align-items: center;

                a {
                    font-size: 1.3rem;
                    margin-right: 2rem;
                }
            }

            .navbar-opciones-ul2 {
                text-align: center;

                .gestacional {
                    display: inline-block;
                    // margin-top: 1rem;
                    padding: 0.5rem 2rem;
                    background: $pink3;
                    color: #fff;
                    font-size: 1rem;
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                }

                a {
                    margin: 0 0 0 0.5rem;
                }
            }
        }

        .header-general {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;

            .navbar-opciones-phone {
                font-family: "Poppins", sans-serif;
                display: none;

                ul {
                    li {
                        .gestacional {
                            padding-bottom: 0.5rem;
                            border-bottom: 1px solid #f173ac;
                        }
                    }
                }
            }

            .header-left{
                // display: flex;
                // position: relative;
                a{
                    img{
                        width: 14.5rem;
                    }
                }
            }

            .header-right {
                display: none;
            }

            .header-center-right {
                font-family: "Poppins", sans-serif;
                width: 100%;
                justify-content: space-between;
                display: flex;
                margin-top: 1.5rem;
                padding-left: 4.5rem;

                .header-center-right-tittle{
                    display: none;
                }

                .module-active {
                    padding-bottom: 1rem;
                    border-bottom: 1px solid #f173ac;
                }

                a {
                    &:focus {
                        padding-bottom: 1rem;
                        border-bottom: 1px solid #f173ac;
                    }

                    p {
                        color: #777;
                        font-weight: 100;
                    }

                    img{
                        display: none;
                    }
                }
            }
        }
    }
}