@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: #666;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    // outline: green solid 3px;
    border: none;
}

$white: #fff;
$light-color: #666;
$pink1: #f4c6de;
$pink2: #f5a4c7;
$pink3: #f173ac;
$boxshadowG: -3rem 0 80px -70px rgb(51, 46, 46);
$azul: #007cc3;
$border: 0.2rem solid $pink3;

$franklin: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$abel: "Abel", sans-serif;
$poppins: "Poppins", sans-serif;