@font-face {
    font-family: "LibreFranklin";
    src: url('../../fonts/LibreFranklin-VariableFont_wght.ttf');
}

$franklin1:"LibreFranklin";

@font-face {
    font-family: "LibreFranklin-Italic";
    src: url('../fonts/LibreFranklin-Italic-VariableFont_wght.ttf');
}

$franklin1_i:"LibreFranklin-Italic";