@font-face {
    font-family: "LibreFranklin";
    src: url('../../fonts/LibreFranklin-VariableFont_wght.ttf');
}

$franklin1:"LibreFranklin";

@font-face {
    font-family: "LibreFranklin-Italic";
    src: url('../fonts/LibreFranklin-Italic-VariableFont_wght.ttf');
}

$franklin1_i:"LibreFranklin-Italic";

@font-face {
    font-family: "Abel-Regular";
    src: url('../../fonts/Abel-Regular.ttf');
}

$abel_regular: "Abel-Regular";

@font-face {
    font-family: "WaterBush-Regular";
    src: url('../../fonts/Water_Brush/WaterBrush-Regular.ttf');
}

$water_bush: "WaterBush-Regular";

@font-face {
    font-family: "Poppins-Medium";
    src: url('../../fonts/Poppins/Poppins-Medium.ttf');
}

$poppins_m : "Poppins-Medium";