<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <title>Es un buen tipo mi viejo</title>
</head>

<body>
    <header class="header">
        <h1 class="title">lorem lorem lorem lorem</h1>
    </header>
    <section class="carta">
        <article class="article">
            <header class="article-title">lorem lorem lorem loremlorem</header>
            <section class="content">
                <h4 class="content-title">lorem lorem lorem lorem lorem lorem</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minus repellat illo ad sint! Earum magni minus sed quis illo error mollitia, voluptatu</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minus repellat illo ad sint! Earum magni minus sed quis illo error mollitia, voluptatu</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minus repellat illo ad sint! Earum magni minus sed quis illo error mollitia, voluptatu</p>
                <p class="pd">PD: malísima mi página XD 🤣🤣</p>
            </section>
        </article>
        <div class="div-imagen">
            <img src="https://www.educima.com/imagen-obrero-dm20154.jpg" alt="">
        </div>
    </section>
    <hr>
    <section class="carta">
        <article class="article">
            <header class="article-title">lorem lorem lorem loremlorem</header>
            <section class="content">
                <h4 class="content-title">lorem lorem lorem lorem lorem lorem</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minus repellat illo ad sint! Earum magni minus sed quis illo error mollitia, voluptatu</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minus repellat illo ad sint! Earum magni minus sed quis illo error mollitia, voluptatu</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minus repellat illo ad sint! Earum magni minus sed quis illo error mollitia, voluptatu</p>
                <p class="pd">PD: malísima mi página XD 🤣🤣</p>
            </section>
        </article>
        <div class="div-imagen">
            <img src="https://www.educima.com/imagen-obrero-dm20154.jpg" alt="">
        </div>
    </section>

</body>

</html>