<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <title>Es un buen tipo mi viejo</title>
</head>

<body>
    <header class="header">
        <h1 class="title">Es un buen tipo mi viejo, tarararararar .... no se que mas</h1>
    </header>
    <section class="carta">
        <article class="article">
            <header class="article-title">Cuántos cumples tori? no sé :C</header>
            <section class="content">
                <h4 class="content-title">Carta a mi padre... itento N°746</h4>
                <p>Ha pasado mucho tiempo que no nos vemos, pero ya llegará el momento, esto de aqui es una gafera que se me ocurrió, como no tengo nada que regalarte...</p>
                <p>El trabajo sigue en marcha, y todavia no termino la carrera, medio raro no... esperabas esto del Mayor? ni idea, por eso no quiero tener hijos</p>
                <p>Espero poder verte pronto, no exageres con el trabajo, pintate las canas aunque sea con betún... ire para mi cumpleaños... hasta entonces te me cuidas</p>
                <p class="pd">PD: malísima mi página XD 🤣🤣</p>
            </section>
        </article>
        <div class="div-imagen">
            <img src="https://www.educima.com/imagen-obrero-dm20154.jpg" alt="">
        </div>
    </section>

</body>

</html>