<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>
<body>
    <header class="header">
        <h1>Feliz dia tia, cuantos años cumpliras🙃?...</h1>
        <p>Esto es una página web xD</p>
    </header>

    <section>
        <div class="div-imagen">
            <img src="https://media-exp1.licdn.com/dms/image/C4E12AQFZUzuJtIuE7Q/article-cover_image-shrink_600_2000/0/1622874101291?e=1653523200&v=beta&t=URwOgKAELAAMnIGl9xf4RwP6XsrYqkLMo6RGiIYzwNA" alt="">
        </div>
        <article>
            <header>Feliz dia tia, disculpa que no este ahi...</header>
            <section class="content">
                <h4 class="content-title">Carta a mi tia para que no se olvide de su sobrino... intento N°139</h4>
                <p>Cuanto tiempo ha pasado tia...</p>
                <p>El trabajo sigue en marcha, y todavia no termino la carrera, medio raro no... esperabas esto del Mayor? ni idea, por eso no quiero tener hijos</p>
                <p>Espero poder verte pronto, no exageres con el trabajo, pintate las canas aunque sea con betún... ire para mi cumpleaños... hasta entonces te me cuidas</p>
                <p class="pd">PD: malísima mi página XD 🤣🤣</p>
            </section>
        </article>
    </section>
    
</body>
</html>